<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/www_assets/css/pico.min.css">
    <link rel="stylesheet" href="/www_assets/css/main.css?v=1">
</head>
<body>
<div class="container">
    <header>
       <nav>
            <ul>
                <li><a href="/"><img src="/www_assets/img/logo.png" style="height:40px"/></a></li>
           </ul>
            <ul class="menu">
                {% for key,value in data.menu.items() %}
                <li><a href="/{{key}}">{{value}}</a></li>
                {% endfor %}
            </ul>
            <ul class="hamburger">
               <li><a href="#" id="hamburger"><i data-feather="menu"></i></a></li> 
            </ul>
        </nav>
    </header>
    <aside id="menu-small">
        <nav>
            <ul>
            {% for key,value in data.menu.items() %}
                <li><a href="/{{key}}">{{value}}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </aside>

    {% block content%}{% endblock %}

</div>
<script src="/www_assets/js/main.js?v=1"></script>
</body>
</html>
