{% extends 'base.html' %}
{% block title%}{{data.page_title}}{% endblock %}

{% block content -%}
<main>
    <h1 class="page_title">{{data.page_title}}</h1>
    <div>Rendered @ {{now}} utc</div>
    <div class="grid">
{% for section in data.sections %}
        <section>
          {% for source in section %}
            {% if 'data' in source %}
               {% include 'news_block.html' %}
            {% endif %}
        {% endfor%}
        </section>
{% endfor %}
    </div>
</main>
<a id="scrollToTopBtn" id="scrollToTopBtn"> <i data-feather="chevrons-up"></i> </a>
{% endblock %}
