        <div class="news_block" id="{{ source.data.identifier }}">
                <hgroup>
                    <h3>{{source.title}}</h3>
                    <h4><a target="_blank" href="{{source.data.link}}"><em>{{source.data.title}}</em></a></h4>
                </hgroup>
                {% set count = namespace(value=0) %}
                {%for item in source.data['entries'] -%}
                    {% set count.value = count.value + 1 %}
                    <div class="news {% if count.value > 10 %}expandable{% endif %}">
                        <div class="article_title"><a  href="{{item.link}}">{{item.title}}</a></div>
                        <div class="article_body hidden">
                            <ul>
                                <li><small><em>{{item.pubDate}}</em></small></li>
                                <li><small><em><a class="external" target="_blank" href="{{item.link}}">{{source.data.link[:30] if source.data.link else 'Source'}} &raquo;</a></em></small></li>
                            </ul>
                            <p>{{item.description|striptags}}
                                <br><small><em><a class="external" target="_blank" href="{{item.link}}">{{item.link}}</a></em></small>
                            </p>
                        </div>
                    </div>
                    {% if count.value == 11 %}
                    <div class="expand_button">
                            <button class="outline">meer <i data-feather="chevrons-down"></i></button>
                    </div>
                    {% endif %}
                {% endfor%}
            </div>
